# 영화 평점 분석 실습

In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

## 1. 영화 평점 데이터 적재 및 전처리

In [11]:
#사용자 데이터 불러오기
users = pd.read_csv('data/movielens/users.dat', sep = '::', engine = 'python',
                    names = ['사용자아이디','성별','연령','직업','지역'])
users.head()

   사용자아이디 성별  연령  직업     지역
0       1  F   1  10  48067
1       2  M  56  16  70072
2       3  M  25  15  55117
3       4  M  45   7  02460
4       5  M  25  20  55455

In [3]:
#평점 데이터 불러오기
ratings = pd.read_csv('data/movielens/ratings.dat', sep = '::', engine = 'python',
                    names = ['사용자아이디','영화아이디','평점','타임스탬프'])
ratings.head()

   사용자아이디  영화아이디  평점      타임스탬프
0       1   1193   5  978300760
1       1    661   3  978302109
2       1    914   3  978301968
3       1   3408   4  978300275
4       1   2355   5  978824291

In [4]:
len(ratings)

1000209

In [5]:
#영화 데이터 불러오기(movies.dat)
#컬럼명 : ['영화아이디','영화제목','장르']
movies = pd.read_csv('data/movielens/movies.dat',sep = '::', engine = 'python',
                    names = ['영화아이디','영화제목','장르'])
movies.head()

   영화아이디                                영화제목                            장르
0      1                    Toy Story (1995)   Animation|Children's|Comedy
1      2                      Jumanji (1995)  Adventure|Children's|Fantasy
2      3             Grumpier Old Men (1995)                Comedy|Romance
3      4            Waiting to Exhale (1995)                  Comedy|Drama
4      5  Father of the Bride Part II (1995)                        Comedy

In [8]:
temp = pd.merge(users, ratings)
data = pd.merge(temp, movies)

In [12]:
data.head()

,사용자아이디,성별,연령,직업,지역,영화아이디,평점,타임스탬프,영화제목,장르
0,1,F,1,10,48067,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,M,56,16,70072,1193,5,978298413,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,M,25,12,32793,1193,4,978220179,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,M,25,7,22903,1193,4,978199279,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,M,50,1,95350,1193,5,978158471,One Flew Over the Cuckoo's Nest (1975),Drama

## 2. 보고 싶은 영화  찾기 (평점 높은 영화 찾기)

In [15]:
data.pivot_table(index = '영화제목', aggfunc = 'mean', values = '평점').sort_values(by = '평점', ascending = False).head(15)

                                                          평점
영화제목
Ulysses (Ulisse) (1954)                             5.000000
Lured (1947)                                        5.000000
Follow the Bitch (1998)                             5.000000
Bittersweet Motel (2000)                            5.000000
Song of Freedom (1936)                              5.000000
One Little Indian (1973)                            5.000000
Smashing Time (1967)                                5.000000
Schlafes Bruder (Brother of Sleep) (1995)           5.000000
Gate of Heavenly Peace, The (1995)                  5.000000
Baby, The (1973)                                    5.000000
I Am Cuba (Soy Cuba/Ya Kuba) (1964)                 4.800000
Lamerica (1994)                                     4.750000
Apple, The (Sib) (1998)                             4.666667
Sanjuro (1962)                                      4.608696
Seven Samurai (The Magnificent Seven) (Shichini...  4.560510

In [28]:
영화평점 = data.pivot_table(index = '영화제목', aggfunc = ('mean','count'), values = '평점').sort_values(by = 'mean', ascending = False)
영화평점

                                                    count      mean
영화제목
Ulysses (Ulisse) (1954)                                 1  5.000000
Lured (1947)                                            1  5.000000
Follow the Bitch (1998)                                 1  5.000000
Bittersweet Motel (2000)                                1  5.000000
Song of Freedom (1936)                                  1  5.000000
One Little Indian (1973)                                1  5.000000
Smashing Time (1967)                                    2  5.000000
Schlafes Bruder (Brother of Sleep) (1995)               1  5.000000
Gate of Heavenly Peace, The (1995)                      3  5.000000
Baby, The (1973)                                        1  5.000000
I Am Cuba (Soy Cuba/Ya Kuba) (1964)                     5  4.800000
Lamerica (1994)                                         8  4.750000
Apple, The (Sib) (1998)                                 9  4.666667
Sanjuro (1962)                                         69  4.608696
Seven Samurai (The Magnificent Seven) (Shichini...    628  4.560510
Shawshank Redemption, The (1994)                     2227  4.554558
Godfather, The (1972)                                2223  4.524966
Close Shave, A (1995)                                 657  4.520548
Usual Suspects, The (1995)                           1783  4.517106
Schindler's List (1993)                              2304  4.510417
Wrong Trousers, The (1993)                            882  4.507937
Dry Cleaning (Nettoyage � sec) (1997)                   2  4.500000
Inheritors, The (Die Siebtelbauern) (1998)              2  4.500000
Mamma Roma (1962)                                       2  4.500000
Bells, The (1926)                                       2  4.500000
Dangerous Game (1993)                                   2  4.500000
Hour of the Pig, The (1993)                             2  4.500000
Callej�n de los milagros, El (1995)                     2  4.500000
Skipped Parts (2000)                                    2  4.500000
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)         470  4.491489
...                                                   ...       ...
Diebinnen (1995)                                        1  1.000000
Blood Spattered Bride, The (La Novia Ensangrent...      2  1.000000
Bloody Child, The (1996)                                1  1.000000
Uninvited Guest, An (2000)                              1  1.000000
Little Indian, Big City (Un indien dans la vill...      1  1.000000
Shadows (Cienie) (1988)                                 1  1.000000
McCullochs, The (1975)                                  1  1.000000
Hillbillys in a Haunted House (1967)                    1  1.000000
Terror in a Texas Town (1958)                           1  1.000000
White Boys (1999)                                       1  1.000000
Lotto Land (1995)                                       1  1.000000
Nueba Yol (1995)                                        1  1.000000
Even Dwarfs Started Small (Auch Zwerge haben kl...      1  1.000000
Get Over It (1996)                                      2  1.000000
Venice/Venice (1992)                                    2  1.000000
Sleepover (1995)                                        1  1.000000
Silence of the Palace, The (Saimt el Qusur) (1994)      1  1.000000
Waltzes from Vienna (1933)                              1  1.000000
Wirey Spindell (1999)                                   2  1.000000
Kestrel's Eye (Falkens �ga) (1998)                      1  1.000000
Spring Fever USA (a.k.a. Lauderdale) (1989)             3  1.000000
Loves of Carmen, The (1948)                             1  1.000000
Underworld (1997)                                       1  1.000000
Low Life, The (1994)                                    1  1.000000
Santa with Muscles (1996)                               7  1.000000
Fantastic Night, The (La Nuit Fantastique) (1949)       1  1.000000
Cheetah (1989)                                          1  1.000000
Torso (Corpi Presentano Tracce di Violenza Carn...      2  1.000000
Mutters Courage (1995)                                  1  1.000000
Windows (1980)                                          1  1.000000

[3706 rows x 2 columns]

In [37]:
#1. 평점 개수가 가장 많은 영화 상위 10개 찾기
영화평점.sort_values(by = 'count', ascending = False)
영화평점.head(10)

                                           count  mean
영화제목
Ulysses (Ulisse) (1954)                        1   5.0
Lured (1947)                                   1   5.0
Follow the Bitch (1998)                        1   5.0
Bittersweet Motel (2000)                       1   5.0
Song of Freedom (1936)                         1   5.0
One Little Indian (1973)                       1   5.0
Smashing Time (1967)                           2   5.0
Schlafes Bruder (Brother of Sleep) (1995)      1   5.0
Gate of Heavenly Peace, The (1995)             3   5.0
Baby, The (1973)                               1   5.0

In [31]:
#2. 평점이 4.5점 이상인 영화들 중에 평점의 개수가 많은 순으로 정렬해서 보기
myMovie = 영화평점[영화평점['mean'] >= 4.5].sort_values(by = 'count', ascending = False)
myMovie

                                                    count      mean
영화제목
Schindler's List (1993)                              2304  4.510417
Shawshank Redemption, The (1994)                     2227  4.554558
Godfather, The (1972)                                2223  4.524966
Usual Suspects, The (1995)                           1783  4.517106
Wrong Trousers, The (1993)                            882  4.507937
Close Shave, A (1995)                                 657  4.520548
Seven Samurai (The Magnificent Seven) (Shichini...    628  4.560510
Sanjuro (1962)                                         69  4.608696
Apple, The (Sib) (1998)                                 9  4.666667
Lamerica (1994)                                         8  4.750000
I Am Cuba (Soy Cuba/Ya Kuba) (1964)                     5  4.800000
Gate of Heavenly Peace, The (1995)                      3  5.000000
Inheritors, The (Die Siebtelbauern) (1998)              2  4.500000
Mamma Roma (1962)                                       2  4.500000
Bells, The (1926)                                       2  4.500000
Dangerous Game (1993)                                   2  4.500000
Hour of the Pig, The (1993)                             2  4.500000
Callej�n de los milagros, El (1995)                     2  4.500000
Dry Cleaning (Nettoyage � sec) (1997)                   2  4.500000
Skipped Parts (2000)                                    2  4.500000
Smashing Time (1967)                                    2  5.000000
Lured (1947)                                            1  5.000000
Baby, The (1973)                                        1  5.000000
Schlafes Bruder (Brother of Sleep) (1995)               1  5.000000
One Little Indian (1973)                                1  5.000000
Song of Freedom (1936)                                  1  5.000000
Bittersweet Motel (2000)                                1  5.000000
Follow the Bitch (1998)                                 1  5.000000
Ulysses (Ulisse) (1954)                                 1  5.000000

In [43]:
#3. 평점이 4.3이상이고, 평점의 수가 2000개 이상인 영화를 출력
temp = 영화평점[(영화평점['mean']>=4.3) & (영화평점['count']>= 2000)]
temp.head(15)

                                           count      mean
영화제목
Shawshank Redemption, The (1994)            2227  4.554558
Godfather, The (1972)                       2223  4.524966
Schindler's List (1993)                     2304  4.510417
Raiders of the Lost Ark (1981)              2514  4.477725
Star Wars: Episode IV - A New Hope (1977)   2991  4.453694
Sixth Sense, The (1999)                     2459  4.406263
Silence of the Lambs, The (1991)            2578  4.351823
Saving Private Ryan (1998)                  2653  4.337354
American Beauty (1999)                      3428  4.317386
Matrix, The (1999)                          2590  4.315830
Princess Bride, The (1987)                  2318  4.303710

In [46]:
temp.columns = ['평점개수','영화평점']
temp.head(15)

                                           평점개수      영화평점
영화제목
Shawshank Redemption, The (1994)           2227  4.554558
Godfather, The (1972)                      2223  4.524966
Schindler's List (1993)                    2304  4.510417
Raiders of the Lost Ark (1981)             2514  4.477725
Star Wars: Episode IV - A New Hope (1977)  2991  4.453694
Sixth Sense, The (1999)                    2459  4.406263
Silence of the Lambs, The (1991)           2578  4.351823
Saving Private Ryan (1998)                 2653  4.337354
American Beauty (1999)                     3428  4.317386
Matrix, The (1999)                         2590  4.315830
Princess Bride, The (1987)                 2318  4.303710

## 3. (실습) 여자들이 좋아하는 영화 찾기 (평점이 4.0 이상이고 여성 평점의 개수가 500개 이상인 영화)

### 3-1. (심화) 여자들이 어떤 장르의 영화를 좋아하는지 찾아보자.
### 위에서 찾은 여성들이 좋아하는 영화들의 장르를 찾아낸 후, 어떤 장르가 많았는지 확인

## (실습) 4. 남자와 여자의 호불호가 크게 갈리는 영화 10개를 출력 
### 전체 평점의 개수가 500개 이상인 영화만 대상으로 함.

## 5. (실습) 연령대 별로 영화 평점 분석하기